[Unit]
Description=Inventar Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/grazhdan
ExecStart=/root/grazhdan/venv/bin/python -m app
Restart=on-failure
RestartSec=5
EnvironmentFile=/root/grazhdan/.env

[Install]
WantedBy=multi-user.target
